@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.main-wrapper {
  background-color: #eee;
  font-family: "Open Sans";
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  padding-bottom: 100px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.main-wrapper__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0px 100px;
}

body {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 500px) {
  .main-wrapper__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px 10px;
  }
}
