.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile_heading {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(112, 112, 112);
  color: rgb(112, 112, 112);
}
